<!DOCTYPE html>
<html>

<head>
  <title>首页</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  
  <div class="blog">
     <div class="bg">
     
    </div>
    <div class="cover">
      
    </div>
    <div class="main">
      <div class="header">
       
        <h2>欢迎来到我的日常</h2>
        <nav>
          <ul style="margin:0;padding: 100px;">
            <li><a href="/article/list" title="我的记事"><img src="../images/记事.png" alt=""></a></li>
            <li><a href="/article/listAdd" title="新增记事"><img src="../images/git.png" alt=""></a></a></li>
            <li><a href="/users/login" title="退出"><img src="../images/退出.png" alt=""></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</body>

</html>