
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>王秋荟的日常介绍</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
      <script src="./jq/jquery-3.3.1.min.js"></script>
  
</head>

<body>
  <div class="container">
    <form action="/users/login" method="post">
      <input class ="tbx" type="text" name="userName" placeholder="请输入用户名"><br>
      <input class ="tbx" type="password" name="userPwd" placeholder="请输入6位密码"><br>
      <input class="sub" type="submit" value="登陆">
      <a href="/users/regist" style="color:white ;margin-top:5px" >没有账号？注册</a>
    </form>
  </div>
 


  <!-- <div class="container1">
    <form action="/users/regist" method="post">
      <input class="sub" type="submit" value="Reg">
    </form>
  </div> -->
</body>

</html>