
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="height:500px">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../public/images/bg1.jpg"alt="First slide" >
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../public/images/bg1.jpg" alt="Second slide" >
      
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../public/images/bg1.jpg" alt="Third slide">
      
    </div>
  </div>
</div>

<div   style="background-color:#B0E0E6">
  <div class="container" >
    <h2 class="display-4">叮，这里有一份你想要的校级组织架构图</h2>
    <p class="lead">  浙江财经大学学生会是在学校党委和省、市学联的领导下，校团委的指导下开展各项工作的学生群众组织。我校学生会坚持和弘扬学生会的家文化理念，在“自我管理、自我教育、自我服务”的指导方针下，以“一切为了同学，为了一切同学，为了同学一切”为工作理念，
    通过举办各种各样的文娱活动维护同学的根本利益，努力为同学营造一个良好的校园学习氛围。
学生会致力于为广大浙财学子提供服务，由四个中心以及其下设的十二个部门构成，学生发展中心下设办公室
及人力资源部，主要负责学生会负责自身建设，同时协助主席团处理学生会日常事务，协调部门开展工作，起到内部凝聚、人事管理的作用；媒体中心下设宣传部、新闻部、网络部及新媒体工作室，是学生会与外界交流协作的“窗口”，起到传递校园最新动态、宣传学生会时下活动、同时展示学生会工作成果的作用；素质拓展中心下设文艺部、体育部及学术部，通过各种形式和途径开展多样文体活动，如文艺晚会、体育嘉年华、学术辩论赛等；权益服务中心下设学生权益部、审批服务部及公关实践部，是学生会学生权益工作的渠道，通过送清凉、福利周、菜园淘宝等维护学生基本权益。 </p>
  </div>
</div>
</body>
</html>