<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>注册界面</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="./jq/jquery-3.3.1.min.js"></script>
    
  </head>

<body>
  <div class="container">
  <form action="/users/regist" method="post">
    <input class ="tbx" type="text" name="userName" placeholder="请输入用户名"><br>
    <input class ="tbx" type="password" name="userPwd" placeholder="请输入6位密码"><br>
    <button class="sub" type="submit">注册</button>
    <a href="/users/login" style="color:white ;margin-top:5px" >已有账号，马上登录！</a>
  </form>
</div>
 
</body>

</html>